$primary: #f57e1d;
$secondary: black;
$enable-responsive-font-sizes: true;

@font-face {
  font-family: "my-font";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf"); /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("svg"); /* Legacy iOS */
}

html,
body {
  overflow-x: hidden;
}

html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

body {
  // background: rgb(165, 63, 4);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: my-font;
}
header {
  position: relative;
  padding-top: 30px;
  background-image: url("../imgs/full-landing.png");
  background-size: cover;
  background-position: center;
  background-color: #efefef;
  height: 1860px;
  // overflow-y: scroll;

  #landing-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 100%;
    height: 770px;
    padding-left: 0rem;
    text-align: left;
    a {
      display: inline-block;
      text-decoration: none;
      color: $primary;
      padding: 3px 20px;
      border-radius: 1.5em;
      background: white;
      width: fit-content;
    }
  }

  #slogan {
    font-weight: bold;
    max-width: 40rem;
  }

  #slogan-info {
    font-weight: bold;
    max-width: 30rem;
  }
}

// ul {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   li {
//     font-size: 20px;
//     a {
//       padding: 3px 20px;
//       border-radius: 1.5em;
//       color: $primary;
//       background-color: white;
//       margin: 0 10px;
//     }
//   }
// }
.normal-element {
  padding: 3px 20px;
  border-radius: 1.5em;
  color: white !important;
  margin: 0 10px;
  font-size: xx-large;
}

.media-icon {
  margin-left: 14px;
  border-radius: 1.5em;
  color: white !important;
  font-size: xx-large;
  text-decoration: none;
}

.active-button {
  background: $secondary;
  display: inline-block;
  text-decoration: none;
  color: white !important;
  background: rgb(255, 175, 70) !important;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: xx-large;
}

.sect {
  height: 500px;
  width: 100%;
  background: white;
}

#features {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
  // background-image: url("../imgs/feat_path.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}

#students {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
}

#tutors {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
}

#programs-scratch {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.

  .program-header {
    padding-bottom: 120px;
    font-weight: bolder;
  }

  .programDetails {
    .programAttribute {
      font-size: 30px;
      font-weight: bold;
      color: $primary;
    }

    .programAttributeIcon {
      padding-bottom: 10px;
      padding-right: 16px;
    }
  }
  .programAbout {
    padding-top: 100px;
    .programAboutHeader {
      font-size: 90px;
      font-weight: bolder;
    }
    .programAboutDetails {
      word-wrap: break-word;
      width: 47%;
      margin: auto; // center the text
      font-size: 43px;
      font-weight: bold;
      color: $primary;
    }
  }

  .programComplete {
    padding-top: 100px;
    .benefitsContainer {
      display: inline-block;
      text-align: left;
      .programBenefits {
        color: $primary;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .programCompleteHeader {
      font-size: 66px;
      font-weight: bolder;
    }
  }
  .applyButtonContainer {
    padding-top: 100px;
    z-index: -10;
  }
  .applyImage {
    &:hover {
      transition-duration: 0.4s;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
}
#journey {
  background-color: #efefef;
  .journeyHeader {
    font-size: 110px;
    font-weight: bolder;
  }
}

#programs-cpp {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
  z-index: -1;
  background-image: url("../imgs/background-curves.png");

  .program-header {
    padding-bottom: 120px;
    font-size: 151px;
    font-weight: bolder;
  }

  .programDetails {
    .programAttribute {
      font-size: 30px;
      font-weight: bold;
      color: $primary;
    }

    .programAttributeIcon {
      padding-bottom: 10px;
      padding-right: 16px;
    }
  }
  .programAbout {
    padding-top: 100px;
    .programAboutHeader {
      font-size: 90px;
      font-weight: bolder;
    }
    .programAboutDetails {
      word-wrap: break-word;
      width: 47%;
      margin: auto; // center the text
      font-size: 43px;
      font-weight: bold;
      color: $primary;
    }
  }

  .programComplete {
    padding-top: 100px;
    .benefitsContainer {
      display: inline-block;
      text-align: left;
      .programBenefits {
        color: $primary;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .programCompleteHeader {
      font-size: 66px;
      font-weight: bolder;
    }
  }
  .applyButtonContainer {
    padding-top: 100px;
  }
  .applyImage {
    &:hover {
      transition-duration: 0.4s;
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
}
.absolute-layer {
  position: relative;
  .progress-image-container {
    position: absolute;
    top: 71vh;
    left: 0;
  }
}
#tutors {
  padding-top: 220px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
  // background-image: url("../imgs/feat_path.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
}

.tutor-name {
  font-size: 40px;
  font-weight: bolder;
}

.tutor-info {
  margin-top: auto;
  margin-bottom: auto;
}

#stories {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; // This needs to be relative to contain the abs image inside it.
}
.feature-card {
  // width: 460px;
  height: 600px;
  max-width: 530px;
  border-radius: 55px;
  background: $primary;
  color: white;
  margin: 10px;
  background: linear-gradient(180deg, #ffffff 50%, $primary 50%);
  position: relative;

  .card-header {
    padding-top: 80px;
    color: $primary;
    background-color: white;
    border: none;
    font-weight: bolder;
  }

  .feature-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-info {
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    bottom: 10%;
    color: white;
  }
}

.student-card {
  // width: 460px;
  height: 600px;
  max-width: 500px;
  border-radius: 120px;
  background: $primary;
  color: white;
  margin: 10px;
  background: linear-gradient(180deg, #ffffff 50%, $primary 50%);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  .card-header {
    padding-top: 70px;
    color: $primary;
    background-color: white;
    border: none;
    font-weight: bolder;
  }
  .student-course {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .student-card-info {
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 16%;
    color: white;
    padding: 0 65px 0 65px;
  }
}
.sectionTitle {
  font-size: 150px;
  font-weight: 900;
  .sectionSemi {
    color: $primary;
  }
}

.subSectionTitle {
  color: $primary;
  font-weight: 600;
}

.sectionLightTitle {
  font-size: 150px;
  color: white;
  .sectionSemi {
    color: $primary;
  }
}

.sectionBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -420px; /* Half the height */
  margin-left: -837px; /* Half the width */
  z-index: -1;
}

.tutorInfo {
  color: white;
  text-align: left;
}

.story {
  color: white;
  text-align: left;
  margin: auto;
}

.bg-img {
  background-image: url("../imgs/Group\ 358.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// Overriding default arrows
.carousel-control-prev-icon {
  background-image: url("../imgs/arrow-left.png") !important;
}

.carousel-control-next-icon {
  background-image: url("../imgs/arrow-right.png") !important;
}

.carousel-control-next-icon:after {
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  font-size: 55px;
  color: red;
}

// Phone media queries
@media (max-width: 480px) {
  header {
    background-image: url("../imgs/mobile-landing.png");
  }
  .action-button {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  #slogan-info {
    margin-bottom: 2rem;
  }

  .card-info {
    bottom: 3% !important;
  }

  .sectionTitle {
    font-size: 65px;
    font-weight: bold;
  }
  
  .programAbout {
    .programAboutDetails {
      font-size: 24px !important;
      width: 80% !important;
    }
  }

  #journey {
    .journeyHeader {
      font-size: 60px;
      font-weight: bolder;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .card-info {
    bottom: 3% !important;
  }
}

// Large screens queries
@media (min-width: 1400px) {
  .container {
    max-width: 1700px !important;
  }
}
