@font-face {
  font-family: "my-font";
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  /* IE9 Compat Modes */
  src: url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("embedded-opentype"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("woff"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("truetype"), url("../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf") format("svg");
  /* Legacy iOS */
}

html,
body {
  overflow-x: hidden;
}

html {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: my-font;
}

header {
  position: relative;
  padding-top: 30px;
  background-image: url("../imgs/full-landing.png");
  background-size: cover;
  background-position: center;
  background-color: #efefef;
  height: 1860px;
}

header #landing-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: 100%;
  height: 770px;
  padding-left: 0rem;
  text-align: left;
}

header #landing-info a {
  display: inline-block;
  text-decoration: none;
  color: #f57e1d;
  padding: 3px 20px;
  border-radius: 1.5em;
  background: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header #slogan {
  font-weight: bold;
  max-width: 40rem;
}

header #slogan-info {
  font-weight: bold;
  max-width: 30rem;
}

.normal-element {
  padding: 3px 20px;
  border-radius: 1.5em;
  color: white !important;
  margin: 0 10px;
  font-size: xx-large;
}

.media-icon {
  margin-left: 14px;
  border-radius: 1.5em;
  color: white !important;
  font-size: xx-large;
  text-decoration: none;
}

.active {
  background: black;
  display: inline-block;
  text-decoration: none;
  color: white !important;
  background: #ffaf46 !important;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: xx-large;
}

.sect {
  height: 500px;
  width: 100%;
  background: white;
}

#features {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
}

#programs-scratch {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
}

#programs-scratch .program-header {
  padding-bottom: 120px;
  font-size: 151px;
  font-weight: bolder;
}

#programs-scratch .programDetails .programAttribute {
  font-size: 30px;
  font-weight: bold;
  color: #f57e1d;
}

#programs-scratch .programDetails .programAttributeIcon {
  padding-bottom: 10px;
  padding-right: 16px;
}

#programs-scratch .programAbout {
  padding-top: 100px;
}

#programs-scratch .programAbout .programAboutHeader {
  font-size: 90px;
  font-weight: bolder;
}

#programs-scratch .programAbout .programAboutDetails {
  word-wrap: break-word;
  width: 47%;
  margin: auto;
  font-size: 43px;
  font-weight: bold;
  color: #f57e1d;
}

#programs-scratch .programComplete {
  padding-top: 100px;
}

#programs-scratch .programComplete .benefitsContainer {
  display: inline-block;
  text-align: left;
}

#programs-scratch .programComplete .benefitsContainer .programBenefits {
  color: #f57e1d;
  font-size: 30px;
  font-weight: bold;
}

#programs-scratch .programComplete .programCompleteHeader {
  font-size: 66px;
  font-weight: bolder;
}

#programs-scratch .applyButtonContainer {
  padding-top: 100px;
}

#programs-scratch .applyImage:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#journey {
  background-color: #efefef;
}

#journey .journeyHeader h1 {
  font-size: 110px;
  font-weight: bolder;
}

#programs-cpp {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
  z-index: -1;
  background-image: url("../imgs/background-curves.png");
}

#programs-cpp .program-header {
  padding-bottom: 120px;
  font-size: 151px;
  font-weight: bolder;
}

#programs-cpp .programDetails .programAttribute {
  font-size: 30px;
  font-weight: bold;
  color: #f57e1d;
}

#programs-cpp .programDetails .programAttributeIcon {
  padding-bottom: 10px;
  padding-right: 16px;
}

#programs-cpp .programAbout {
  padding-top: 100px;
}

#programs-cpp .programAbout .programAboutHeader {
  font-size: 90px;
  font-weight: bolder;
}

#programs-cpp .programAbout .programAboutDetails {
  word-wrap: break-word;
  width: 47%;
  margin: auto;
  font-size: 43px;
  font-weight: bold;
  color: #f57e1d;
}

#programs-cpp .programComplete {
  padding-top: 100px;
}

#programs-cpp .programComplete .benefitsContainer {
  display: inline-block;
  text-align: left;
}

#programs-cpp .programComplete .benefitsContainer .programBenefits {
  color: #f57e1d;
  font-size: 30px;
  font-weight: bold;
}

#programs-cpp .programComplete .programCompleteHeader {
  font-size: 66px;
  font-weight: bolder;
}

#programs-cpp .applyButtonContainer {
  padding-top: 100px;
}

#programs-cpp .applyImage:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.absolute-layer {
  position: relative;
}

.absolute-layer .progress-image-container {
  position: absolute;
  top: 71vh;
  left: 0;
}

#tutors {
  padding-top: 220px;
  padding-bottom: 180px;
  position: relative;
}

#stories {
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative;
}

.feature-card {
  height: 600px;
  max-width: 530px;
  border-radius: 55px;
  background: #f57e1d;
  color: white;
  margin: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #ffffff), color-stop(50%, #f57e1d));
  background: linear-gradient(180deg, #ffffff 50%, #f57e1d 50%);
  position: relative;
}

.feature-card .card-header {
  padding-top: 80px;
  color: #f57e1d;
  background-color: white;
  border: none;
  font-weight: bolder;
}

.feature-card .feature-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.feature-card .card-info {
  font-size: x-large;
  font-weight: bolder;
  position: absolute;
  bottom: 10%;
  color: white;
}

.sectionTitle {
  font-size: 150px;
  font-weight: 900;
}

.sectionTitle .sectionSemi {
  color: #f57e1d;
}

.subSectionTitle {
  color: #f57e1d;
  font-weight: 600;
}

.sectionLightTitle {
  font-size: 150px;
  color: white;
}

.sectionLightTitle .sectionSemi {
  color: #f57e1d;
}

.sectionBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -420px;
  /* Half the height */
  margin-left: -837px;
  /* Half the width */
  z-index: -1;
}

.tutorInfo {
  color: white;
  text-align: left;
}

.story {
  color: white;
  text-align: left;
  margin: auto;
}

.bg-img {
  background-image: url("../imgs/Group 358.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 480px) {
  .action-button {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  #slogan-info {
    margin-bottom: 2rem;
  }
  .card-info {
    bottom: 3% !important;
  }
}

@media (min-width: 768px) {
  .card-info {
    bottom: 3% !important;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1700px !important;
  }
}
/*# sourceMappingURL=styles.css.map */